<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test SIG</title>
</head>

<body>
    <h1>Teste SIG - João Vitor Matos Gouveia</h1>
    <div>
        <h3>Sistema de autenticação</h3>
        Possui conta? <a href="">Login</a>
        <br>
        Não está cadastrado? <a href="">Cadastre-se</a>
    </div>
    <form action="">
        <label for="">Login para autenticação</label>
        <input type="email" placeholder="Email">
    </form>
</body>

</html>